{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}



{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center py-4">Blog Posts</h1>
            <div>
                {% for post in page.get_children.live %}
                    <h2>
                        <a href="{% pageurl post.specific %}">{{ post }}</a>
                    </h2>
                    <p>{{ post.specific.description | richtext }}</p>
                    <hr />
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
