{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <div class="container text-center my-5">
                <h1 class="display-4 d-inline-block">Search Results</h1>

                <form action="{% url 'search' %}" method="get" class="d-inline-block d-flex justify-content-center align-items-center gap-2">
                    <input class="form-control w-auto mt-3" type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                    <input class="btn btn-primary btn-md mt-3" type="submit" value="Search">
                </form>
            </div>
          

            {% if search_results %}
            <ul class="list-unstyled">
                {% for result in search_results %}
                <li>
                    <h4 class="my-3"><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                    {{ result.search_description }}
                    {% endif %}
                </li>
                <hr />
                {% endfor %}
            </ul>

            {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
            {% elif search_query %}
            No results found
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
